<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
Servico: {{servico}} <br />
Servico_nome: {{servico_nome}}<br />
UF Origem: {{uf_origem}}<br />
Local Origem: {{local_origem}}<br />
cep Origem: {{cep_origem}}<br />
uf destino: {{uf_destino}}<br />
local destino: {{local_destino}}<br />
cep_destino: {{cep_destino}}<br />
peso: {{peso}}<br />
mao propria: {{mao_propria}}<br />
aviso_recebimento: {{aviso_recebimento}}<br />
valor declarado: {{valor_declarado}}<br />
preco postal: {{preco_postal}}<br />
ERRO:<br />
codigo: {{codigo}}<br />
descricao: {{descricao}}
</body>
</html>
