<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
Sucesso:    {{sucesso}}<br />
Tipo logradouro:    {{tipo_logradouro}}<br />
Tipo logradouro id:    {{tipo_logradouro_id}}<br />
Logradouro:    {{logradouro}}<br />
Bairro:    {{bairro}}<br />
Cidade:    {{cidade}}<br />
Estado sigla:    {{estado_sigla}}<br />
Estado:    {{estado}}<br />
Estado id:    {{estado_id}}<br />
Cep:    {{cep}}<br />

</body>
</html>
