<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="Index Comunicação Digital - www.indexvirtual.com" />
    <meta name="robots" content="noindex, nofollow">
    <title>Microsol &bull; Energia Inteligente - Atendimento on site</title>
    <link rel="stylesheet" href="css/reset.css" media="all" />
    <link rel="stylesheet" href="css/960.css" media="screen, projection" />
    <link rel="stylesheet" href="css/style.css" media="screen, projection" />
    <!--[if IE 6]>
	<script src="js/DD_belatedPNG_0.0.7a-min.js"></script>
	<script>
		DD_belatedPNG.fix('a');
	</script>
	<![endif]-->
</head>

<body>
	<div class="container_12">
    	<div id="topo" class="grid_3 push_3"><h2 class="microsol"><a href="#" title="Microsol &amp;bull; Energia Inteligente - Atendimento on site">Microsol &amp;bull; Energia Inteligente - Atendimento on site</a></h2></div>
        <div class="clear">&nbsp;</div>
        
        <div id="meio" class="grid_6 push_3">
        	<h1>Atendimento on site</h1>
            <p>A Microsol possui rede de 229 Assistências Técnicas Autorizadas (ATAs), espalhadas por todo o Brasil, que contam com profissionais perfeitamente capacitados para a manutenção de seus equipamentos. Dentre estas ATAs, algumas são designadas pela Microsol para prestar atendimento on site. Para solicitar este atendimento, preencha o formulário abaixo e clique em "Enviar". Será gerado um número de protocolo para seu controle. A Microsol entrará em contato para atender sua solicitação.</p>
            
            <form>
            	<fieldset>
                	<legend>Dados do contato</legend>
                    <div class="grid_3 alpha">
                    	<label>Nome</label>
                        <span><input type="text" name="nome" class="ipt-nome" /></span>
                        
                    	<label>Orgão solicitante</label>
                        <span><input type="text" name="orgaosolicitante" class="ipt-orgao" /></span>
                        
                    	<label>Endereço</label>
                        <span><input type="text" name="endereco" class="ipt-endereco" /></span>
                        
                    	<label>Complemento</label>
                        <span><input type="text" name="complemento" class="ipt-complemento" /></span>
                        
                    	<label>Bairro</label>
                        <span><input type="text" name="bairro" class="ipt-bairro" /></span>
                        
                    	<label>Cidade</label>
                        <span><input type="text" name="cidade" class="ipt-cidade" /></span>
                        
                    	<label>Número de tombamento</label>
                        <span><input type="text" name="ntombamento" class="ipt-ntombamento" /></span>
                    </div>
                    <div class="grid_3 omega">
                    	<label>Setor</label>
                        <span><input type="text" name="setor" class="ipt-setor" /></span>
                        
                    	<label>Ordem Consoft <em>(específico para o TJ-SP)</em></label>
                        <span><input type="text" name="ordemconsoft" class="ipt-ordemconsoft" /></span>
                        
                    	<label>Número</label>
                        <span><input type="text" name="numero" class="ipt-numero" /></span>
                        
                    	<label>CEP</label>
                        <span><input type="text" name="cep" class="ipt-cep" /></span>
                        
                    	<label>Estado</label>
                        <span><input type="text" name="estado" class="ipt-estado" /></span>
                        
                    	<label>Telefone <em>(DDD Telefone Ramal)</em></label>
                        <span><input type="text" name="cidade" class="ipt-cidade" /></span>
                        
                    	<label>E-mail</label>
                        <span><input type="text" name="email" class="ipt-email" /></span>
                    </div>
                    <div class="clear">&nbsp;</div>
                </fieldset>
                
                <fieldset>
                	<legend>Dados do equipamento</legend>
                    <div class="grid_3 alpha">
                    	<label>Modelo do equipamento</label>
                        <span><input type="text" name="modelo" class="ipt-modelo" /></span>
                        
                    	<label>Potência</label>
                        <span><input type="text" name="potencia" class="ipt-potencia" /></span>
                    </div>
                    <div class="grid_3 omega">
                    	<label>Número de série do equipamento</label>
                        <span><input type="text" name="numerodeserie" class="ipt-numerodeserie" /></span>
                        
                    	<label>N&ordm; de série da Nota fiscal</label>
                        <span><input type="text" name="nserienotafiscal" class="ipt-nserienotafiscal" /></span>
                    </div>
                    <div class="clear">&nbsp;</div>
                    <label>Descrição do problema</label>
                    <span class="validar"><textarea name="descricao"></textarea></span>
                    
                    <div class="grid_4 alpha">
                    	<!--<p class="notice">Atenção! Verifique os campos em destaque e envie novamente<p>-->
                    	<p class="success">Sua solicitação foi enviada com sucesso!<p>
                    	<!--<p class="error">Ops! Houve problemas no envio. Tente novamente!<p>-->
                    </div>
                    <div class="grid_2 omega"><button>Enviar</button></div>
                </fieldset>
            </form>
        </div>
        <div class="clear">&nbsp;</div>
        
        <div id="rodape" class="grid_6 push_3">
            <div class="grid_2 alpha"><h2><a href="#" title="Microsol &amp;bull; Energia Inteligente - Atendimento on site">Microsol &amp;bull; Energia Inteligente - Atendimento on site</a></h2></div>
            <div class="grid_4 omega"><p>© 2009 Microsol Tecnologias S/A<br />Um e-mail de confirmação será enviado após o envio de sua mensagem.<br />Verifique em sua caixa de emails se o envio foi efetuado. Caso seja necessário, entre em contato através de sam@microsol.com.br</p></div>
        </div>
        <div class="clear">&nbsp;</div>
    </div>
</body>
</html>