{% extends "base.html" %}
{% block "extrahead" %}
    <link rel="stylesheet" type="text/css" media="screen, projection" href="{{MEDIA_URL}}css/thickbox.css" />
    <script type="text/javascript" src="{{MEDIA_URL}}js/cidade_estados.js" ></script>
    <script type="text/javascript" src="{{MEDIA_URL}}js/jquery-maskedinput.js" ></script>
    <script src="{{MEDIA_URL}}js/validacao.js" type="text/javascript" ></script>
    <script src="{{MEDIA_URL}}js/oportunidade_formulario.js" type="text/javascript" ></script>
    <script src="{{MEDIA_URL}}js/thickbox.js" type="text/javascript" ></script>
    <script type="text/javascript">
        window.onload = function() {
new dgCidadesEstados(document.getElementById('estado'), document.getElementById('cidade'), true);
}
    $(document).ready(function(){
        $("#id_ddd_telefone").mask("(99)");
        $("#id_ddd_celular").mask("(99)");
        $("#id_telefone").mask("9999-9999");
        $("#id_celular").mask("9999-9999");
        $("#id_dia").mask("99");
        $("#id_mes").mask("99");
        $("#id_ano").mask("9999");
        $("#id_medio_conclusao").mask("9999");
        $("#id_graduacao_conclusao").mask("9999");
        $("#id_pos_graduacao_conclusao").mask("9999");
        $("#id_cpf").mask("999.999.999-99");
    });

    </script>
{% endblock %}
{% block "conteudo" %}
	<div id="categoria" class="grid_12">
        <h2>Oportunidades</h2>
    </div>
    <div class="clr">&nbsp;</div>
    
    <div id="rh" class="grid_12">
    	{{pagina.conteudo}}
        {% if cadastrado %}
            Cadastro efetuado com sucesso.
        {% endif %}
        <form action="." method="POST" name="form_rh" id="id_form_rh">
            <a name="ancora_erros"></a>
            <div class="grid_12" id="erros"></div>
            <div class="grid_6 alpha">
            	<!-- DADOS PESSOAIS -->
                <fieldset>
                    <legend>Dados pessoais</legend>
                    <div class="enviar-foto">
                        <img src="{{MEDIA_URL}}img/semfoto.gif" class="rh-foto" align="Sem foto cadastrada" id="foto_curriculo"/>
                        <a href="/rh/adicionar_foto/curriculo-cadastro/?KeepThis=true&TB_iframe=true&height=600&width=800&modal=true" class="btn btn-foto thickbox" title="Enviar Foto">Enviar foto</a>
                        <input type="hidden" name="foto" id ="id_foto" value=""  />
                    </div>
                    
                    <label>Nome</label>
                    <input type="text" id="id_nome" name="nome" class="ipt_nomerh" tabindex="1" />
                    <br />
					
                    <label>E-mail</label>
                    <input type="text" id="id_email" name="email" class="ipt_rhemail" tabindex="2" />
                    <div class="clear">&nbsp;</div>
                    
                    <div class="grid_2 alpha">
                    	<label>Sexo</label>
                        <select tabindex="3" id="id_sexo" name="sexo">
                            <option value="Selecione">Selecione</option>
                            <option value="Masculino" >Masculino</option>
                            <option value="Feminino" >Feminino</option>
                        </select>
                    </div>
                    
                    <div class="grid_2">
                    	<label>Estado Civil</label>
                        <select tabindex="3" id="id_estado_civil" name="estado_civil">
                            <option value="Selecione">Selecione</option>
                            <option value="Casado" >Casado</option>
                            <option value="Solteiro" >Solteiro</option>
                        </select>
                    </div>
                    
                    <div class="grid_2 omega">
                    	<label>Filhos</label>
                        <select tabindex="3" id="id_filhos" name="filhos">
                            <option value="Selecione">Selecione</option>
                            <option value="Nenhum" >Nenhum</option>
                            <option value="Um" >Um</option>
                            <option value="Dois" >Dois</option>
                        </select>
                    </div>
                    <div class="clear">&nbsp;</div>
                    
                    <div class="grid_2 alpha">
                        <label>Data de Nascimento</label>
                        <input type="text" class="ipt_dia" tabindex="4" id="id_dia" name="dia" />
                        <input type="text" class="ipt_mes" tabindex="5" id="id_mes" name="mes" />
                        <input type="text" class="ipt_ano" tabindex="6" id="id_ano" name="ano" />
                    </div>
                    
                    <div class="grid_2">
                        <label>DDD/Telefone</label>
                        <input type="text" class="ipt_ddd" tabindex="7" id="id_ddd_telefone" name="ddd_telefone" />
                        <input type="text" class="ipt_fone" tabindex="8" id="id_telefone" name="telefone" />
                    </div>
                    
                    <div class="grid_2 omega">
                        <label>DDD/Celular</label>
                        <input type="text" class="ipt_ddd" tabindex="9" id="id_ddd_celular" name="ddd_celular" />
                        <input type="text" class="ipt_fone" tabindex="10" id="id_celular" name="celular" />
                    </div>
                    <div class="clear">&nbsp;</div>
                    
                    <div class="grid_4 alpha">
	                    <label>Endereço</label>
    	                 <input type="text" class="ipt_endereco" tabindex="11" id="id_endereco" name="endereco" />
                    </div>
                    
                    <div class="grid_2 omega">
                        <label>Complemento</label>
    	                <input type="text" class="ipt_complemento" tabindex="11" id="id_complemento" name="complemento" />
                    </div>
                    <div class="clear">&nbsp;</div>
                    
                    <div class="grid_2 alpha">
                        <label>Bairro</label>
                        <input type="text" class="ipt_bairro" tabindex="13" id="id_bairro" name="bairro" />
                    </div>
                    
                    <div class="grid_2">
                        <label>Cidade</label>
                        <select id="cidade" name="cidade" tabindex="15" >
                            <option>Selecione</option>
                        </select>
                    </div>
                    
                    <div class="grid_2 omega">
                        <label>Estado</label>
                        <select id="estado" name="estado" tabindex="14" >
                            <option value="Selecione">Selecione</option>
                        </select>
                    </div>
                    <div class="clear">&nbsp;</div>
                    
                    <div class="grid_2 alpha">
	                    <label>CPF</label>
    	                <input type="text" class="ipt_cpf" tabindex="11" id="id_cpf" name="cpf" />
                    </div>
                    
                    <div class="grid_2 omega">
                        <label>Pretensão Salarial</label>
                        <select id="salario" name="salario" tabindex="14" >
                            <option value="Selecione">Selecione</option>
                            <option value="Entre R$ 800 e R$ 1200" >Entre R$ 800 e R$ 1200</option>
                           <option value="Entre R$ 1200 e R$ 1600" >Entre R$ 1200 e R$ 1600</option>  
                        </select>
                    </div>
                    <div class="clear">&nbsp;</div>
                </fieldset>
            </div>
                
            <div class="grid_6 omega">
            	<!-- Experiência Profissional / Última empresa -->
            	<fieldset>
                	<legend>Experiência Profissional / Última empresa</legend>
                    <div class="grid_4 alpha">
	                    <label>Empresa</label>
    	                <input type="text" class="ipt_empresa" tabindex="11" id="id_ultima_empresa" name="ultima_empresa" />
                    </div>
                    
                    <div class="grid_2 omega">
                        <label>Salário</label>
    	                <input type="text" class="ipt_salario" tabindex="11" id="id_ultima_salario" name="ultima_salario" />
                    </div>
                    <div class="clear">&nbsp;</div>
                    
                    <div class="grid_2 alpha">
                        <label>Função</label>
    	                <input type="text" class="ipt_funcao" tabindex="11" id="id_ultima_funcao" name="ultima_funcao" />
                    </div>
                    <div class="grid_4 omega">
                        <label>Período</label>
    	                <input type="text" class="ipt_periodo" tabindex="11" id="id_ultima_periodo_de" name="ultima_periodo_de"  />
                        <span class="separaperiodo">a</span>
    	                <input type="text" class="ipt_periodo" tabindex="11" id="id_ultima_periodo_a" name="ultima_periodo_a" />
                    </div>
                    <div class="clear">&nbsp;</div>
                    
                    <label>Atividades desenvolvidas</label>
                    <textarea tabindex="22" id="id_ultima_atividades_desenvolvidas" name="ultima_atividades_desenvolvidas" ></textarea>
                    <div class="clear">&nbsp;</div>
                    
                    <label>Motivo da saída</label>
                    <textarea tabindex="22" id="id_ultima_motivo_saida" name="ultima_motivo_saida" ></textarea>
                    <div class="clear">&nbsp;</div>
                </fieldset>
            </div>
            <div class="clear">&nbsp;</div>
            
            <div class="grid_6 alpha">
                <!-- FORMAÇÃO - ENSINO MEDIO -->
                <fieldset>
                    <legend>Formação - Ensino Médio</legend>
                    <div class="grid_4 alpha">
                    	<label>Instituição</label>
                        <input type="text" class="ipt_instmed" tabindex="20" id="id_medio_instituicao" name="medio_instituicao" />
                    </div>
                    <div class="grid_2 omega">
                    	<!-- ATENÇÃO SÍLVIO -->
                    	<!-- ATENÇÃO SÍLVIO -->
                    	<!-- ATENÇÃO SÍLVIO -->
                    	<!-- ATENÇÃO SÍLVIO -->
                    	<!-- ATENÇÃO SÍLVIO -->
                    	<!-- Se já tiver concluido fica "Ano de Conclusão" se for Em andamento fica"Previsão de Término" -->
                    	<!-- ATENÇÃO SÍLVIO -->
                    	<!-- ATENÇÃO SÍLVIO -->
                    	<!-- ATENÇÃO SÍLVIO -->
                    	<!-- ATENÇÃO SÍLVIO -->
                    	<!-- ATENÇÃO SÍLVIO -->
	                    <label>Status</label>
                        <select id="status_serie" name="medio_concluido" tabindex="14" >
                            <option value="Selecione">-</option>
                            <option value="Concluido" >Concluído</option>
                            <option value="Em andamento" >Em andamento</option>
                        </select>
                    </div>
                    <div class="clear">&nbsp;</div>
                    
                    <div class="grid_2 alpha">
                    	<label>Série</label>
                        <input type="text" class="ipt_serie" tabindex="20" id="id_serie" name="medio_serie" />
                    </div>
                    <div class="grid_2">
                    	<label>Previsão de término</label>
                        <input type="text" class="ipt_conclusao" tabindex="20" id="id_medio_conclusao" name="medio_conclusao" />
                    </div>
                    <div class="clear">&nbsp;</div>
                </fieldset>
                
                <!-- FORMAÇÃO - GRADUACAO -->
                <fieldset>
                    <legend>Formação - Graduação</legend>
                    <div class="grid_4 alpha">
                    	<label>Instituição</label>
                        <input type="text" class="ipt_instmed" tabindex="20" id="id_graduacao_instituicao" name="graduacao_instituicao" />
                    </div>
                    <div class="grid_2 omega">
                    	<!-- ATENÇÃO SÍLVIO -->
                    	<!-- ATENÇÃO SÍLVIO -->
                    	<!-- ATENÇÃO SÍLVIO -->
                    	<!-- ATENÇÃO SÍLVIO -->
                    	<!-- ATENÇÃO SÍLVIO -->
                    	<!-- Se já tiver concluido fica "Ano de Conclusão" se for Em andamento fica"Previsão de Término" -->
                    	<!-- ATENÇÃO SÍLVIO -->
                    	<!-- ATENÇÃO SÍLVIO -->
                    	<!-- ATENÇÃO SÍLVIO -->
                    	<!-- ATENÇÃO SÍLVIO -->
                    	<!-- ATENÇÃO SÍLVIO -->
	                    <label>Status</label>
                        <select id="id_graduacao_concluido" name="graduacao_concluido" tabindex="14" >
                            <option value="Selecione">-</option>
                            <option value="Concluido" >Concluído</option>
                            <option value="Em andamento" >Em andamento</option>
                        </select>
                    </div>
                    <div class="clear">&nbsp;</div>
                    
                    <div class="grid_2 alpha">
                    	<label>Curso</label>
                        <input type="text" class="ipt_curso" tabindex="20" id="id_graduacao_curso" name="graduacao_curso"  />
                    </div>
                    <div class="grid_2">
                    	<label>Semestre</label>
                        <input type="text" class="ipt_semestre" tabindex="20" id="id_graduacao_semestre" name="graduacao_semestre" />
                    </div>
                    <div class="grid_2 omega">
                    	<label>Previsão de término</label>
                        <input type="text" class="ipt_conclusao" tabindex="20" id="id_graduacao_conclusao" name="graduacao_conclusao" />
                    </div>
                    <div class="clear">&nbsp;</div>
                    
                    <div class="grid_6 alpha omega">
                    	<label>Informações complementares</label>
                        <textarea id="id_graduacao_complementar" name="graduacao_complementar"></textarea>
                    </div>
                </fieldset>
                
                <!-- FORMAÇÃO - PÓS-GRADUACAO -->
                <fieldset>
                    <legend>Formação - Pós-graduação</legend>
                    <div class="grid_4 alpha">
                    	<label>Instituição</label>
                        <input type="text" class="ipt_instmed" tabindex="20" id="id_pos_graduacao_instituicao" name="pos_graduacao_instituicao" />
                    </div>
                    <div class="grid_2 omega">
                    	<!-- ATENÇÃO SÍLVIO -->
                    	<!-- ATENÇÃO SÍLVIO -->
                    	<!-- ATENÇÃO SÍLVIO -->
                    	<!-- ATENÇÃO SÍLVIO -->
                    	<!-- ATENÇÃO SÍLVIO -->
                    	<!-- Se já tiver concluido fica "Ano de Conclusão" se for Em andamento fica"Previsão de Término" -->
                    	<!-- ATENÇÃO SÍLVIO -->
                    	<!-- ATENÇÃO SÍLVIO -->
                    	<!-- ATENÇÃO SÍLVIO -->
                    	<!-- ATENÇÃO SÍLVIO -->
                    	<!-- ATENÇÃO SÍLVIO -->
	                    <label>Status</label>
                        <select id="id_graduacao_concluido" name="pos_graduacao_concluido" tabindex="14" >
                            <option value="Selecione">-</option>
                            <option value="Concluido" >Concluído</option>
                            <option value="Em andamento">Em andamento</option>
                        </select>
                    </div>
                    <div class="clear">&nbsp;</div>
                    
                    <div class="grid_2 alpha">
                    	<label>Curso</label>
                        <input type="text" class="ipt_curso" tabindex="20" id="id_pos_graduacao_curso" name="pos_graduacao_curso" />
                    </div>
                    <div class="grid_2">
                    	<label>Semestre</label>
                        <input type="text" class="ipt_semestre" tabindex="20" id="id_pos_graduacao_semestre" name="pos_graduacao_semestre" />
                    </div>
                    <div class="grid_2 omega">
                    	<label>Previsão de término</label>
                        <input type="text" class="ipt_conclusao" tabindex="20" id="id_pos_graduacao_conclusao" name="pos_graduacao_conclusao" />
                    </div>
                    <div class="clear">&nbsp;</div>
                    
                    <div class="grid_6 alpha omega">
                    	<label>Informações complementares</label>
                        <textarea id="id_pos_graduacao_complementar" name="pos_graduacao_complementar"></textarea>
                    </div>
                </fieldset>
                
                <!-- FORMAÇÃO - CURSOS E PALESTRAS -->
                <fieldset>
                    <legend>Formação - Cursos e Palestras</legend>
                    <div class="grid_6 alpha omega">
                    	<label>Nome</label>
                        <input type="text" class="ipt_nome" tabindex="20" id="id_curso_nome" name="curso_nome" />
                    </div>
                    <div class="clear">&nbsp;</div>
                    
                    <div class="grid_2 alpha">
                    	<label>Instituição</label>
                        <input type="text" class="ipt_instcurso" tabindex="20" id="id_curso_instituicao" name="curso_instituicao" />
                    </div>
                    <div class="grid_4 omega">
                        <label>Período</label>
    	                <input type="text" class="ipt_periodo" tabindex="11" id="id_curso_periodo_de" name="curso_periodo_de" />
                        <span class="separaperiodo">a</span>
    	                <input type="text" class="ipt_periodo" tabindex="11" id="id_curso_periodo_a" name="curso_periodo_a" />
                    </div>
                    <div class="clear">&nbsp;</div>
                    
                    <div class="grid_6 alpha omega">
                    	<label>Informações complementares</label>
                        <textarea id="id_curso_complementar" name="curso_complementar"></textarea>
                    </div>
                </fieldset>
                
                <!-- Login / Senha -->
                <fieldset>
                    <div class="grid_2 alpha">
                        <label>Login</label>
                        <input type="text" class="ipt_area" tabindex="16" id="id_login" name="login"/>
                    </div>
                    
                    <div class="grid_2">
                        <label>Senha</label> 
                        <input type="text" class="ipt_area" tabindex="17" id="id_senha" name="senha" />
                    </div>
                    
                    <div class="grid_2 omega">
                        <label>Repetir Senha</label>
                        <input type="text" class="ipt_area" tabindex="17" id="id_senha2" name="senha2" />
                    </div>
                    <div class="clear">&nbsp;</div>
                </fieldset> 
            </div>
            
            <div class="grid_6 omega">
                <!-- Experiência Profissional / Penúltima empresa -->
                <fieldset>
                	<legend>Experiência Profissional / Penúltima empresa</legend>
                    <div class="grid_4 alpha">
	                    <label>Empresa</label>
    	                <input type="text" class="ipt_empresa" tabindex="11" id="id_penultima_empresa" name="penultima_empresa" />
                    </div>
                    
                    <div class="grid_2 omega">
                        <label>Salário</label>
    	                <input type="text" class="ipt_salario" tabindex="11" id="id_penultima_salario" name="penultima_salario" />
                    </div>
                    <div class="clear">&nbsp;</div>
                    
                    <div class="grid_2 alpha">
                        <label>Função</label>
    	                <input type="text" class="ipt_funcao" tabindex="11" id="id_penultima_funcao" name="penultima_funcao" />
                    </div>
                    <div class="grid_4 omega">
                        <label>Período</label>
    	                <input type="text" class="ipt_periodo" tabindex="11" id="id_penultima_periodo_de" name="penultima_periodo_de" />
                        <span class="separaperiodo">a</span>
    	                <input type="text" class="ipt_periodo" tabindex="11" id="id_penultima_periodo_a" name="penultima_periodo_a" />
                    </div>
                    <div class="clear">&nbsp;</div>
                    
                    <label>Atividades desenvolvidas</label>
                    <textarea tabindex="22" id="id_penultima_atividades_desenvolvidas" name="penultima_atividades_desenvolvidas"></textarea>
                    <div class="clear">&nbsp;</div>
                    
                    <label>Motivo da saída</label>
                    <textarea tabindex="22" id="id_penultima_motivo_saida" name="penultima_motivo_saida"></textarea>
                    <div class="clear">&nbsp;</div>
                </fieldset>
                <Br /><br />
            	<!-- Experiência Profissional / Antepenúltima empresa -->
                <fieldset>
                	<legend>Experiência Profissional / Antepenúltima empresa</legend>
                    <div class="grid_4 alpha">
	                    <label>Empresa</label>
    	                <input type="text" class="ipt_empresa" tabindex="11" id="id_antepenultima_empresa" name="antepenultima_empresa" />
                    </div>
                    
                    <div class="grid_2 omega">
                        <label>Salário</label>
    	                <input type="text" class="ipt_salario" tabindex="11" id="id_antepenultima_salario" name="antepenultima_salario" />
                    </div>
                    <div class="clear">&nbsp;</div>
                    
                    <div class="grid_2 alpha">
                        <label>Função</label>
    	                <input type="text" class="ipt_funcao" tabindex="11" id="id_antepenultima_funcao" name="antepenultima_funcao" />
                    </div>
                    <div class="grid_4 omega">
                        <label>Período</label>
    	                <input type="text" class="ipt_periodo" tabindex="11" id="id_antepenultima_periodo_de" name="antepenultima_periodo_de" />
                        <span class="separaperiodo">a</span>
    	                <input type="text" class="ipt_periodo" tabindex="11" id="id_antepenultima_periodo_a" name="antepenultima_periodo_a" />
                    </div>
                    <div class="clear">&nbsp;</div>
                    
                    <label>Atividades desenvolvidas</label>
                    <textarea tabindex="22" id="id_antepenultima_atividades_desenvolvidas" name="antepenultima_atividades_desenvolvidas"></textarea>
                    <div class="clear">&nbsp;</div>
                    
                    <label>Motivo da saída</label>
                    <textarea tabindex="22" id="id_antepenultima_motivo_saida" name="antepenultima_motivo_saida" ></textarea>
                    <div class="clear">&nbsp;</div>
                </fieldset>
                    
                <!-- Mini-currículo -->
                <fieldset>
                    <legend>Mini-currículo</legend>
                    <textarea class="minicv" tabindex="23" id="id_minicurriculo" name="minicurriculo"></textarea>
                    <br />
                    <div class="clear">&nbsp;</div>
                </fieldset>
                
                <input type="checkbox" class="cbx" tabindex="24" checked /> <label class="lbl_cbx">Desejo receber novidades da Microsol</label>
                <a href="javascript: enviar_curriculo(); void(0);" class="btn btn-enviar fr" title="Enviar" tabindex="25">Enviar</a>
            </div>
            <div class="clear">&nbsp;</div>
        </form>
    </div>
    <div class="clear">&nbsp;</div>
{% endblock %}
