{% extends "admin/change_list.html" %}

{% load batch_list %}

{% block extrahead %}
    {{ block.super }}
    <link href="{{MEDIA_URL}}batchadmin/css/batchadmin.css" type="text/css" media="all" rel="stylesheet" />
    <link rel="stylesheet" href="{{MEDIA_URL}}__css/lightbox.css" type="text/css" media="screen" >
    
    <script type="text/javascript" src="{{MEDIA_URL}}batchadmin/js/batchadmin.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}__js/lightbox.js"></script>
    <script type="text/javascript"/>
	    $(document).ready(function(){
		   $('a[@rel*=lightbox]').lightBox({
		       imageLoading: '{{MEDIA_URL}}__img/lightbox/loading.gif',
			   imageBtnClose: '{{MEDIA_URL}}__img/lightbox/close.gif',
			   imageBtnPrev: '{{MEDIA_URL}}__img/lightbox/prev.gif',
			   imageBtnNext: '{{MEDIA_URL}}__img/lightbox/next.gif',
		   });
		});
	</script>
{% endblock %}

{% block result_list %}
<form id="batch-action-form" method="post" action="">
    {% if batchadmin_on_top or not cl.paginator.count %}{% actions %}{% endif %}
    {{ block.super }}
    {% if batchadmin_on_bottom and cl.paginator.count %}{% actions %}{% endif %}
</form>
{% endblock %}
